*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    height: 100vh;
    border: 20px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.child1{
    min-height: 200px;
    flex-basis: 200px;
    background: blue;
    order:1;
    flex-shrink: 1;
}
.child2{
    height: 200px;
    flex-basis: 200px;
    background:crimson ;
    order:3;
    flex-shrink: 2;
}
.child3{
    height: 200px;
    flex-basis: 200px;
    background: darkmagenta;
    order:0;
    flex-shrink: 1;
}
.child4{
    height: 200px;
    flex-basis: 200px;
    background: greenyellow;
    order:4;
    flex-shrink: 1;
}